.color-line-container {
  width: 100%;
}

.color-line-title {
  padding-bottom: 10px;
  font-weight: 500;
  line-height: 30px;
}

.color-line-samples {
  display: flex;
}

.color-line-sample {
  width: 100%;
  height: 50px;
}
