.phone-card-container {
  box-sizing: border-box;
  max-width: 100%;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
}

.phone-card-title {
  padding-left: 20px;
  font-weight: 500;
  line-height: 30px;
  background-color: aquamarine;
}

.phone-card-image {
  width: 100%;
}
